<footer>
  <div class="footer-container">
    <div class="">
      contact: hiking.data.contact@gmail.com
    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="footer-right">
      <a target="_blank" href="https://icons8.com/icon/110283/mountain">Mountain</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
  </div>
</footer>
