<footer>
  <div class="footer-container">
    <a target="_blank" href="https://icons8.com/icon/110283/mountain">Mountain</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>
</footer>
