<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Hiking Data | <%= title %></title>
  <link rel="icon" href="/assets/images/favicon-mt.png">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/nav.css" rel="stylesheet" type="text/css">
  <link href="/css/footer.css" rel="stylesheet" type="text/css">
  <link href="/css/graph.css" rel="stylesheet" type="text/css">
  <link href="/css/form.css" rel="stylesheet" type="text/css">
  <link href="/css/detailsPage.css" rel="stylesheet" type="text/css">
  <link href="/css/editPage.css" rel="stylesheet" type="text/css">
  <link href="/css/bulkPage.css" rel="stylesheet" type="text/css">
  <link href="/css/table.css" rel="stylesheet" type="text/css">
  <link href="/css/message.css" rel="stylesheet" type="text/css">
  <link href="/css/usersPages.css" rel="stylesheet" type="text/css">
</head>
