<head>
  <meta charset="utf-8">
  <title>Hiking Data | <%= title %></title>
  <link rel="icon" href="/favicon-mt.png">
  <link href="/nav.css" rel="stylesheet" type="text/css">
  <link href="/graph.css" rel="stylesheet" type="text/css">
  <link href="/form.css" rel="stylesheet" type="text/css">
  <link href="/table.css" rel="stylesheet" type="text/css">
</head>
