<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function (error) { %>
    <div class="isa_error">
      <i class="fa fa-times-circle"></i>
      <%= error.msg %>
    </div>
  <% }); %>
<% } %>

<% if(success_msg != '') { %>
  <div class="isa_success">
    <i class="fa fa-check"></i>
    <%= success_msg %>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="isa_error">
    <i class="fa fa-times-circle"></i>
    <%= error_msg %>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="isa_error">
    <i class="fa fa-times-circle"></i>
    <%= error %>
  </div>
<% } %>
