<nav>
  <div class="site-title">
    <a href="/">
      <h1>Hiking Data Visualization and Tracker</h1>
    </a>
    <hr>
    <p>Log Hikes and Keep Track of Stats</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li>&#9679;</li>
    <li><a href="https://github.com/andyarensman/Hiker-Tracker" target="_blank">About</a></li>
    <li>&#9679;</li>
    <li><a href="/users/login">Login</a></li>
    <li>&#9679;</li>
    <li><a href="/users/register">Create Account</a></li>
  </ul>
</nav>
