<nav>
  <div class="site-title">
    <a href="/">
      <h1>Hiking Data Logger</h1>
    </a>
  </div>
    <!-- <p>Log Hikes, Keep Track of Stats, and Visualize Data</p> -->
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li>&#9679;</li>
      <li><a href="https://github.com/andyarensman/Hiker-Tracker" target="_blank">About</a></li>
    </ul>
  </div>
  <div class="user">
    <ul>
      <li><a href="/users/register">Create Account <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
      <li><a href="/users/login">Login <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>

</nav>
