<nav>
  <div class="site-title">
    <a href="/dashboard">
      <h1>Hiking Data Visualization and Tracker</h1>
    </a>
    <hr>
    <p>Log Hikes and Keep Track of Stats</p>
  </div>
  <ul>
    <li><a id="home-button" >Home</a></li>
    <li>&#9679;</li>
    <li><a href="/dashboard/bulk_add">Bulk Upload</a></li>
    <li>&#9679;</li>
    <li><a href="/users/example">Example</a></li>
    <li>&#9679;</li>
    <li><a href="https://github.com/andyarensman/Hiker-Tracker" target="_blank">About</a></li>
    <li>&#9679;</li>
    <li><a href="/users/logout">Logout</a></li>
  </ul>
</nav>
<script>
  document.getElementById('home-button').setAttribute('href', '/dashboard')
</script>
