<html lang="en">

<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>

  <div class="bulk-container">
    <h3 class="login-form-title">Bulk Upload</h3>

    <%- include("../partials/messages") %>
    <p>If you already have a spreadsheet of your hiking data, you can follow the steps below to upload them faster:</p>
    <ol class="bulk-list">
      <li>Download this <a href="/template">CSV template</a></li>
      <li>Import into Google Sheets or Excel</li>
      <li>Do not change the headers</li>
      <li>Use the correct formats shown in row two</li>
      <li>Delete the template row before finishing</li>
      <li>Export as CSV and upload here</li><br>
    </ol>
    <form method="POST" encType="multipart/form-data" class="bulk-form">
      <label for="upload-button" class="bulk-file-upload">
        <i class="fa fa-cloud-upload"></i> Choose File
      </label>
      <input type="file" name="myCSV" accept="*.csv" id="upload-button"/>
      <input type="submit" value="Submit" id="bulk-button"/>
    </form>
    <p id="bulk-file-selected"></p>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>

<script type="text/javascript">
  document.getElementById('upload-button').onchange = function () {
    var fileName = this.value
    console.log(fileName)
    fileName = fileName.replace(/.*[\/\\]/, '');
    document.getElementById('bulk-file-selected').innerHTML = fileName;
  };
</script>

</html>
