<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav-logout.ejs") %>
  <div class="not-found content welcome-container">
    <h3 class="login-form-title">Page not found</h3>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
