<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Hiking Graph</title>
  <link href="/graph.css" rel="stylesheet" type="text/css">
  <link href="/form.css" rel="stylesheet" type="text/css">
  <link href="/table.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="table">
    <h3 class="form-title">Current Data From Hike</h3>
  </div>
  <div class="flex-container">

    <%- include("./dataVis/editForm.ejs") %>

  </div>
</body>
<%- include('./dataVis/editTable.ejs') %>
