<!DOCTYPE html>
<html>
  <head>
    <title>Hiking Data Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
    <div class="container">
      <h1>Hiking Data Tracker</h1>
      <form action="/api/users" method="post">
        <h3>Create a New User</h3>
        <input type="text" name="username" placeholder="*Username" required=''><br>
        <button type="submit">Submit</button>
      </form>
      <form id="exercise-form" method="post">
        <h3>Add New Hike</h3>
        <input id="uid" type="text" name=":_id" placeholder="*User ID" required=''><br>
        <input type="text" name="hike_name" placeholder="*Hike Name" required=''><br>
        <input type="date" name="hike_date" placeholder="*Date" required=''><br>
        <input type="text" name="mileage" placeholder="*Mileage" required=''><br>
        <input type="text" name="time" placeholder="*Duration 00:00:00" required=''><br>
        <input type="text" name="elevation_gain" placeholder="*Elevation Gain" required=''><br>
        <input type="text" name="min_elevation" placeholder="(opt)Min Elevation"><br>
        <input type="text" name="max_elevation" placeholder="(opt)Max Elevation" ><br>
        <input type="text" name="average_pace" placeholder="(opt)Average Pace"><br>
        <input type="text" name="average_bpm" placeholder="(opt)Average BPM"><br>
        <input type="text" name="max_bpm" placeholder="(opt)Max BPM"><br>
        <input type="text" name="city" placeholder="*City"><br>
        <input type="text" name="location" placeholder="*Location" required=''><br>
        <textarea type="text" name="notes" placeholder="Notes"></textarea><br>
        <button type="submit">Log Hike</button>
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[&amp;from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>
