<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav-logout.ejs") %>

  <div class="login-container">

    <h3 class="login-form-title">Login</h3>

    <%- include("./partials/messages") %>

    <form id="login-form" action="/users/login" method="POST">
      <div class="login-item">
        <label for="email" id="login-label">Email</label><br>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter Email"
        />
      </div>
      <div class="login-item">
        <label for="password" id="login-label">Password</label><br>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter Password"
        />
      </div class="login-item">
      <button type="submit" id="login-button">Login</button>
    </form>
    <p class="login-route">
      No Account? <a href="/users/register">Register</a>
    </p>
  </div>
</body>
<%- include("./partials/footer.ejs") %>

</html>
