<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Hiking Graph</title>
  <link href="/graph.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="d3-graph"></div>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<%- include('./dataVis/d3.ejs') %>
