<html lang="en">

  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav-logout.ejs') %>
    <div class="welcome-container">
    <h3 class="login-form-title">Welcome</h3>
      <div class="row mt-5">
        <p class="welcome-item">Create an account or login to begin logging hikes</p>
        <p class="welcome-item"><a href="/users/register">Register</a></p>
        <p class="welcome-item"><a href="/users/login">Login</a></p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
