/* Form CSS */

#form-container {
  display: block;
  padding: 0px 35px 10px;
  background-color: #F8F8F8;
  border: 0.75px solid #C0C0BB;
  height: 600px;
}

#form-container p {
  color: #635F5D;
  line-height: 1.45;
  margin-bottom: 20px;
  font-size: 15px;
}

.form-height {
  height: 588.75px;
}

.grid-item {
  margin: 3px 0px;
  min-width: 0;
}

#exercise-form {
  margin-top: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.form-title {
  color: #635F5D;
  font-size: 28.8px;
  font-weight: normal;
  margin: 22px 0px 10px;
}

.login-form-title {
  color: #635F5D;
  font-size: 28.8px;
  font-weight: normal;
  margin: 22px 0px 10px;
  text-align: center;
}

input[type=text], input[type=date], input[type=password], input[type=email], textarea, .edit-checkbox, .edit-choose-image  {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #EFECEA;
  font-size: 12px;
  color: #635F5D;
}

em {
  color: #8E8883;
}

.required {
  color: #9A3E25;
}

::placeholder {
  color: #635F5D;
  font-style: italic;
}

input[type=text], input[type=password], input[type=email], textarea {
  padding: 8px 10px;
}

input[type=date] {
  padding: 6px 10px;
}

input[type="file"] {
    display: none;
}

button[type=submit] {
  width: 100%;
  background-color: #708259;
  color: #F8F8F8;
  padding: 8px 10px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-note {
  color: #9A3E25;
  font-size: 12px;
  padding: 8px 0px;
  font-style: italic;
}

label {
  font-size: 12px;
  color: #635F5D;
}
