/* GRAPH CSS */

/*Graph and Form CSS */
@media(min-width:1450px) {
  .flex-container {
    display: flex;
    /* min-width: 1450px; */
  }

  #d3-graph, #form-container, #example-form-container {
    flex: 1;
    margin: 11px;
  }

  #d3-graph {
    order: 1;
  }

  #form-container, #example-form-container {
    order: 2;
  }
}

@media(max-width:1449px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    padding: 11px 0px 6px;
    margin-left: -10px;
    margin-right: -10px;
    min-width: 940px;
  }

  #form-container, #example-form-container {
    width: 900px;
  }
}


/* Graph CSS */

.tick line, #y-axis {
  color: #C0C0BB;
}

.tick text {
  font-size: 1.5em;
  fill: #635F5D;
}

.axis-label {
  font-size: 1.8em;
  fill: #8E8883;
}

.title {
  font-size: 2.5em;
  fill: #635F5D;
  text-transform: capitalize;
}

.description {
  font-size: 16px;
  fill: #8E8883;
  font-style: italic;
}

.footer {
  font-size: 10px;
  fill: #8E8883;
  font-style: italic;
}

circle {
  opacity: 1;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  max-width: 150px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 130%;
  background: #F8F8F8;
  border: 1px solid  #C0C0BB;
  border-radius: 2px;
  pointer-events: none;
  color: #635F5D;
  opacity: 0;
}

.legend-tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 130%;
  background: #F8F8F8;
  border: 1px solid  #C0C0BB;
  border-radius: 2px;
  pointer-events: none;
  color: #635F5D;
  opacity: 0;
}

hr { margin: 0.2em auto; }

.legend-text {
  font-size: 12px;
  fill: #635F5D;
}

.legend-title {
  font-size: 1.8em;
  fill: #8E8883;
}
