/* NAV CSS */

nav {
  display: flex;
  /* min-width: 1428px; */
  min-width: 940px;
  justify-content: space-between;
  margin: 11px 11px 5px;
  padding: 22px 35px 16px;
  border-bottom: 1px solid #ddd;
  background-color: #F8F8F8;
}

.navigation, .user {
  align-self: flex-end;
  justify-content: flex-end;
}

.navigation {
  padding-left: 20px;
}

nav div:last-child {
  margin-left: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  margin: 7px 0px;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
  align-self: flex-start;
  text-align: left;
}

nav h1{
  font-size: 2.5em;
  color: #635F5D;
  font-weight: normal;
  margin: 0px 0px;
}

nav p, nav li{
  color: #777;
  font-weight: 300;
}

nav a {
  text-decoration: none;
  color: #8E8883;
}
