/* USERS PAGES */

/* Welcome Page */

.welcome-container {
  margin: 50px auto;
  width: 600px;
  padding: 0px 35px 10px;
  background-color: #F8F8F8;
  border: 0.75px solid #C0C0BB;
  text-align: center;
}

.welcome-item {
  margin: 20px auto 10px;
  color: #635F5D;
}

.example-user-container {
  position: relative;
}

.signature {
  margin-right: 40px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* Login/Regiser/etc. Pages */

.login-container {
  margin: 100px auto;
  width: 300px;
  padding: 0px 35px 10px;
  background-color: #F8F8F8;
  border: 0.75px solid #C0C0BB;
}

#login-form {
  margin-top: 2px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

.login-item {
  margin: 5px auto;
}

#login-button {
  width: 75%;
  padding: 8px 10px;
  margin: 22px auto 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-route {
  font-size: 14px;
  text-align: center;
  color: #635F5D;
  font-weight: 300;
  margin: 4px 0px 11px;
}

@media(max-width:600px) {
  /* p, h1, h2, h3, td, th {
    font-size: 10vw;
  } */
  .welcome-container {
    display: block;
    margin: 50px auto;
    width: 200vw;
    padding: 0px 35px 10px;
  }

  .welcome-item {
    margin: 10vw auto 10vw;
    font-size: 10vw;
  }
}
