<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs") %>

<body>
  <%- include("../../partials/nav.ejs") %>
  <div class="login-container">

    <h3 class="login-form-title">Change Password</h3>

    <%- include("../../partials/messages") %>

    <form id="login-form" action="" method="POST">
      <div class="login-item">
        <label for="current_password" id="login-label">Current Password</label><br>
        <input
          type="password"
          id="current_password"
          name="current_password"
          placeholder="Enter Password"
          required=''
        />
      </div>
      <div class="login-item">
        <label for="new_password" id="login-label">New Password</label><br>
        <input
          type="password"
          id="new_password"
          name="new_password"
          placeholder="Enter Password"
          required=''
        />
      </div>
      <div class="login-item">
        <label for="confirm_new" id="login-label">Confirm New Password</label><br>
        <input
          type="password"
          id="confirm_new"
          name="confirm_new"
          placeholder="Confirm Password"
          required=''
        />
      </div>
      <button type="submit" id="login-button">Update Password</button>
    </form>
    <p class="login-route">
      <a href="/dashboard/settings">Back</a>
    </p>
    <p class="login-route">
      <a href="/users/forgot">Forgot Current Password?</a>
    </p>

  </div>
  <%- include("../../partials/footer.ejs") %>
</body>

</html>
