<html lang="en">

<%- include("../../partials/head.ejs") %>

<body>
  <%- include("../../partials/nav.ejs") %>
  <div class="login-container">

    <h3 class="login-form-title">Account</h3>

    <%- include("../../partials/messages") %>
    <p><a href="/dashboard/settings/change_password">Change Password</a></p>
    <p><a href="/dashboard/settings/change_email">Change Email</a></p>
    <p><a href="/dashboard/settings/delete_account">Delete Account</a></p>

  </div>
  <%- include("../../partials/footer.ejs") %>
</body>

</html>
