<div id="edit-form-container" class="edit-form-container">
  <h3 class="form-title">Edit Hike Here (Only fill in fields you want to change) </h3>
  <form id="hike-edit-form" encType="multipart/form-data" method="POST" action="/dashboard/<%= hikeId %>?_method=PUT">
    <div class="grid-item">
      <label for="hike_name">Hike Name</label>
      <input id="hike_name" type="text" name="hike_name" placeholder="ex: Mount Wilson"><br>
    </div>
    <div class="grid-item">
      <label for="hike_date">Date</label>
      <input id="hike_date" type="date" name="hike_date" placeholder="*Date"><br>
    </div>
    <div class="grid-item">
      <label for="mileage">Distance (mi.)</label>
      <input id="mileage" type="text" name="mileage" placeholder="0.00" pattern="^[0-9]\d*\.?\d{0,2}$" title="number with or without decimals"><br>
    </div>
    <div class="grid-item">
      <label for="time">Duration</label>
      <input id="time" type="text" name="time" placeholder="00:00:00" pattern="^\d{1,2}:\d{2}:\d{2}$" title="00:00:00"><br>
    </div>
    <div class="grid-item">
      <label for="elevation_gain">Elevation Gain (ft.)</label>
      <input id="elevation_gain" type="text" name="elevation_gain" placeholder="0" pattern="^[1-9]\d{0,5}$" title="number, no decimal"><br>
    </div>
    <div class="grid-item">
      <label for="min_elevation">Minimum Elevation (ft.)</label>
      <input id="min_elevation" type="text" name="min_elevation" placeholder="0" pattern="^[1-9]\d{0,5}$" title="number, no decimal"><br>
    </div>
    <div class="grid-item">
      <label for="max_elevation">Maximum Elevation (ft.)</label>
      <input id="max_elevation" type="text" name="max_elevation" placeholder="0" pattern="^[1-9]\d{0,5}$" title="number, no decimal"><br>
    </div>
    <div class="grid-item">
      <label for="average_pace">Average Pace</label>
      <input id="average_pace" type="text" name="average_pace" placeholder="00:00" pattern="^\d{1,2}:\d{2}$" title="00:00"><br>
    </div>
    <div class="grid-item">
      <label for="average_bpm">Average BPM</label>
      <input id="average_bpm" type="text" name="average_bpm" placeholder="0" pattern="^[1-9]\d{1,2}$" title="2 or 3 digit number, no decimal"><br>
    </div>
    <div class="grid-item">
      <label for="max_bpm">Maximum BPM</label>
      <input id="max_bpm" type="text" name="max_bpm" placeholder="0" pattern="^[1-9]\d{1,2}$" title="2 or 3 digit number, no decimal"><br>
    </div>
    <div class="grid-item">
      <label for="city">City</label>
      <input id="city" type="text" name="city" placeholder="ex: Los Angeles"><br>
    </div>
    <div class="grid-item">
      <label for="location">Location</label>
      <input id="location" type="text" name="location" placeholder="ex: Angeles National Forest"><br>
    </div>
    <div class="grid-item" id="grid-notes">
      <label for="notes">Notes</label>
      <textarea id="notes" type="text" name="notes" placeholder="Notes..."></textarea><br>
    </div>
    <div class="grid-item">
      <label for="delete-image">Delete Current Image</label><br>
      <div class="edit-checkbox">
        <label for="delete-image">
          <input id="delete-image" type="checkbox" name="delete-image" placeholder="Select Image"><span><em>Check to delete current image</em></span>
        </label>
      </div>
    </div>
    <div class="grid-item">
      <label for="upload-button">New Image</label><br>
      <label for="upload-button" class="edit-choose-image"><em id="edit-file-selected">Select Image</em></label>
      <input type="file" name="myImage" accept="image/*" id="upload-button"/><br>
    </div>
    <div id="loading-spin" class="edit-loading-container"></div>
    <button type="submit" id="edit-button" onclick="loadingSpin()">Update Hike</button>
  </form>
</div>

<script type="text/javascript">
  document.getElementById('upload-button').onchange = function () {
    var fileName = this.value
    fileName = fileName.replace(/.*[\/\\]/, '');
    document.getElementById('edit-file-selected').innerHTML = fileName;
  };
</script>
<script type="text/javascript">
  loadingSpin = () => {
    var img = document.createElement('img');
    img.setAttribute('src', '/loading-spin.svg');
    img.setAttribute('alt', 'Uploading...');
    img.setAttribute('class', 'edit-loading-spin');

    document.getElementById('loading-spin').appendChild(img);
    // <img src="/loading-spin.svg" alt="Uploading..." class="edit-loading-spin">
  }
</script>
