<div id="form-container" class="form-height">
  <h3 class="form-title">Example User</h3>
  <p>Here's what your home page could look like after logging more hikes!</p>
  <p>To the left you can see all hikes mapped to the scatterplot. It shows mileage vs. elevation gain as well as the most visited locations and various statistics based on all logged hikes. Be sure to mouse over mapped points and location names to see more information</p>
  <p>Below, you can see a list of all hikes organized by date. On your dashboard, you can click the edit icon to update data for each individual hike. If you need to delete a hike, you can also do this on the edit page. If you want to see more information about your hike, click its name in the table below.</p>
  <p>On your dashboard page, this box will be replaced with the 'Add a New Hike' section. Here you can add new hikes one at a time. If you would rather add multiple hikes via a spreadsheet, click the 'Bulk Upload' button in your navigation bar.</p>
  <p>More features may be added soon, so stick around!</p>
  <p>Happy Hiking!</p>
  <p class='signature'><em>- Andy</em></p>
</div>
