<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav-logout.ejs") %>
  <div class="login-container">

    <h3 class="login-form-title">Forgot Password</h3>

    <%- include("../partials/messages") %>

    <form id="login-form" action="/users/forgot" method="POST">
      <div class="login-item">
        <label for="email" id="login-label">Email</label><br>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter Email"
        />
      </div>
      <button type="submit" id="login-button">Reset Password</button>
    </form>
    <p class="login-route">
      No Account? <a href="/users/register">Register</a>
    </p>
  </div>
  <%- include("../partials/footer.ejs") %>
</body>

</html>
